/* CSS INICIALES */
/* Variables de colores y fuentes */

:root {
    --negro: #000;
    --blanco: #fff;
}

/* ********************************** */
.titulo {
    font-size: 50px;
    text-align: center;
    color: rgb(11, 11, 129);
    background-color: rgb(75, 133, 241);
    padding: 10px;
}
.contenedor {
    max-width: 70vw;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .contenedor {
        column-count: 3;
        column-gap: 2rem;
        column-rule: 2px dotted rgba(163, 161, 161, 0.562);
        /* dotted es linea punteada pero si qiero que quede una sola linea es solid */
    }

}



.contenedor p {
    text-indent: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: justify;

}