:root{
    --negro:#000;
    --blanco:#fff;
    --celeste:rgb(219, 236, 247);
    --azul:navy;
}
.alto {
    height: clamp(350px, 5vw, 38px) !important;
}
.altofeto{
    height: 400px !important;
}

.fondoimagen {
    background-image: url();
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



@media (min-width: 790px){
    .fondoimagen{
        background-image: url(../img/wave.svg);
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
}
.azul{
    color: var(--azul);
}
.bg-azul{
    background-color: var(--azul);
}

.bg-contmodal{
    background: linear-gradient(90deg,rgba(160, 155, 235, 1) 0%, rgba(119, 119, 242, 1) 52%, rgba(0, 212, 255, 1) 100%);

}